@using RecipeBook.Models

@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name!</h2>
    <h3>You've contributed @Model.Length recipes:</h3>
    <hr />
    <ul>
        @foreach (Recipe r in Model)
        {
            <li>@Html.ActionLink($"{r.Name}", "Details", "Recipes", new { id = r.RecipeId })</li>
        }
    </ul>
}

else
{
    <h2>Log in to contribute to our recipe database!</h2>
}

<p>@Html.ActionLink("Recipe create", "Create", "Recipes")</p>